annotated-types
anyio
cachetools
certifi
charset-normalizer
distro
evdev
exceptiongroup
google-auth
google-genai
h11
httpcore
httpx
idna
pyasn1
pyasn1_modules
PyAudio
pydantic
pydantic_core
pynput
python-xlib
requests
rsa
six
sniffio
tenacity
typing-inspection
typing_extensions
urllib3
websockets

